@model ClzProject.ViewModels.AdminProfileViewModel

<form asp-action="EditProfile" asp-controller="Admins" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="ProfileImage">Profile Image</label>
        <input asp-for="ProfileImage" type="file" class="form-control" />
        <span asp-validation-for="ProfileImage" class="text-danger"></span>
    </div> 

    <button type="submit" class="btn btn-primary">Update Profile</button>
</form>
